<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="icon" type="image/png" href="/photos/silhouettesMaineCoon2.png" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="chat, maine coon, elevage, eleveur, chatterie, race, loof" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
<!--		<noscript> -->
			<!--<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />-->
		<!--	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/csl-blocks.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pure-min.css" />-->
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
<!--		</noscript> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Copyright -->
						<div class="copyright">
							Entreprise enregistré sous le Siret n° : {{site.siret}}. L'affixe de la chatterie est déposé auprès du loof depuis 2016 : {{site.affixe}}. <br>
							Attestation de Connaissance n° {{site.CCADNum}} passé le : {{site.CCADDate}}<br>
							Crédit photo Lipton : Xavier PODEVIN
						</div>

				</div>
			</div>

	</body>
</html>
