---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo"><span class="icon-silhouettesMaineCoon4Droite"></span> {{ page.title }} <span class="icon-silhouettesMaineCoon4Gauche"></span></a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>La chatterie Creolie</h2>
										<span class="byline">Eleveur de Maine Coon à Redon en  Bretagne</span>
									</header>
									<!--<a href="#" class="button alt">Sign Up</a>-->
								</section>
							</div>
						</div>

				</div>
			</div>


	{{ content }}
